#mebrik-auth-form {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;

  .auth-btn {
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background-color: rgb(43, 43, 43);

    &.hide {
      display: none;
    }
  }

  .auth-container {
    transition: transform 200ms ease;
    transform: translateX(300px);
    width: 220px;
    margin: 20px;
    position: relative;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 4px;
    box-shadow: 3px 4px 12px rgb(0 0 0 / 6%), -3px 0px 12px rgb(0 0 0 / 6%);

    &.show {
      transform: translateX(0);
    }
  }
  h2 {
    margin: 0;
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .close {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 16px;
    text-decoration: none;
  }
  label {
    font-size: 10px;
    text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"] {
    width: 98%;
    padding: 10px 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .submit_button {
    padding: 10px 25px;
    background-color: rgb(39, 36, 36);
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  .actions {
    text-align: center;
    margin-bottom: 0;

    a {
      font-size: 10px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0 4px;
    }
  }

  .status {
    text-align: center;
    margin: 5px 0;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 600;

    &.error {
      color: rgb(144, 19, 19);
    }
    &.success {
      color: rgb(47, 129, 47);
    }
  }
}
