#mebrik-testimonial-form {
  .field-container {
    position: relative;
    margin-bottom: 20px;
  }
  .form-input {
    width: 90%;
    padding: 10px;
    margin-top: 16px;
  }
  .form-container textarea{
    width: 90%;
    padding: 20px 10px;
    margin-top: 16px;
  }
  .field-msg {
    display: none;
    // position: absolute;
    // left: 2px;
    bottom: -19px;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;

    &.show {
      display: block;
    }
  }

  .error {
    color: rgb(144, 19, 19);
  }

  .success {
    color: rgb(47, 129, 47);
  }

  .btn-sunset-form{
    background-color: #272725;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #303030;
    }
  }
}
