.mb-slider--wrapper {
	margin: 0 auto;
	max-width: calc(90% - 150px);
}

.mb-slider--container {
	position: relative;
	width: 100%;
	.mb-slider--view {
		display: block;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		ul {
			white-space: nowrap;
			text-align: center;
			list-style: none;
			margin: 0;
			padding: 0;
			transition: transform 0.25s ease-out;
			.mb-slider--view__slides {
				white-space: normal;
				display: inline-block;
				width: 100%;
				position: relative;
			}
		}
	}
	.mb-slider--arrows {
		width: 100%;
		margin: 0 auto;
		span {
			position: absolute;
			top: 50%;
			transform: translateX(0) translateY(-50%);
			width: 20px;
			height: 20px;
			display: block;
			cursor: pointer;
			border-radius: 50%;
			background: #f5f5f5;
			line-height: 1.3em;
			text-align: center;
			opacity: 0.5;
			&.mb-slider--arrows__left {
				left: 0;
				transform: translateX(-100%) translateY(-50%);
			}
			&.mb-slider--arrows__right {
				right: 0;
				transform: translateX(100%) translateY(-50%);
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

.testimonial-quote {
	font-style: italic;
	font-weight: 200;
	font-size: 0.9em;
	letter-spacing: 0.05em;
	position: relative;
	margin-bottom: 0.5em;
	padding: 0 10px;
}

.testimonial-author {
	font-size: 0.6em;
	font-weight: 800;
	margin-bottom: 0.5em;
}